name: Poetry Deployment

on:
  release:
    types: [published]

jobs:
  all:

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.8"]
        poetry-version: ["1.4"]
        os: ["ubuntu-latest"]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run Poetry Image
      uses: abatilo/actions-poetry@v2
      with:
        poetry-version: ${{ matrix.poetry-version }}

    - name: Install Dependencies
      run: poetry install

    - name: Configure PyPI
      run: poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}

    - name: Publish package
      run: poetry publish --build --no-interaction
