name: Poetry Testing

on:
  pull_request:
    branches: [main]

jobs:
  all:

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        poetry-version: ["1.4"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run Poetry Image
      uses: abatilo/actions-poetry@v2
      with:
        poetry-version: ${{ matrix.poetry-version }}

    - name: Install Dependencies
      run: poetry install

    - name: PyTest
      run: poetry run coverage run -m pytest

    - name: Coverage
      run: poetry run coverage report

    - name: Doctest
      run: |
        cd docs
        poetry run make doctest
